@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
	::view-transition-group(root) {
		animation-duration: 600ms;
		animation-timing-function: ease-in;
	}

	::view-transition-old(root) {
		animation-name: dip;
	}

	::view-transition-new(root) {
		animation-name: pop;
	}
}

@keyframes dip {
	to {
		translate: 0 100px;
		scale: 0.9;
		opacity: 0;
	}
}

@keyframes pop {
	from {
		translate: 0 -50px;
		opacity: 0;
	}
}

.navbar { view-transition-name: navbar; }
