@import "constants";
@import (less) "../../vendor/modern-reset/reset.css";

@supports(--property: "value") {
	:root {
	     --bgcolor-light: @bg_color_light;
	     --fgcolor-light: @text_color_light;
	  --code-color-light: @code_color_light;
	  --bgcolornav-light: @bg_color_navbar_light;

	      --bgcolor-dark: @bg_color_dark;
	      --fgcolor-dark: @text_color_dark;
	   --code-color-dark: @code_color_dark;
	   --bgcolornav-dark: @bg_color_navbar_dark;

	           --bgcolor: var(--bgcolor-light);
	           --fgcolor: var(--fgcolor-light);
	         --codecolor: var(--code-color-light);
	             --bgnav: var(--bgcolornav-light);
	}
} // @supports

@media (prefers-color-scheme: dark) {
	:root {
		  --bgcolor: var(--bgcolor-dark);
		  --fgcolor: var(--fgcolor-dark);
		--codecolor: var(--codecolor-dark);
		    --bgnav: var(--bgcolornav-dark);
	}
	
	article h1 { color: var(--fgcolor-dark); }
	pre:not([class]) { color: var(--code-color-dark); }
}

:root {
	font-size: 120%;

	color-scheme: light dark;
}

body {
	font-size: 1em;
	font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
	
	padding-right: 1em;
	padding-left: 1em;
	
	background: @bg_color_light;
	background: var(--bgcolor);

	color: @text_color_light;
	color: var(--fgcolor);
	
	background-image: url(/images/greystate_logo.png);
	background-size: 20vw;
	background-repeat: no-repeat;
	background-position: 1rem 6rem;
	background-blend-mode: multiply;
}

a:not([class]) {
	color: #a3c493;
}

@supports(--property: "value") {

	body {
		background-image:
			url(/images/greystate_logo.png),
			linear-gradient(var(--bgnav, rgba(0, 0, 200, 0.1)), var(--bgnav, rgba(0, 0, 200, 0.1)));
		background-size:
			20vw auto,
			23vw 32px;
		background-repeat: no-repeat, repeat-y;
		background-position: 1rem 6rem, left center;
		background-blend-mode: multiply, normal;
	}

} // @supports

h1 {
	background-color: rgba(100, 0, 0, 0.3);
	box-shadow: -100px 0 0 10px rgba(100, 0, 0, 0.3);
	padding-right: 10px;
	color: #000;
	font-weight: 600;
	font-size: 1.7rem;
	border-right: 10px solid;
	
	+ .date { text-align: right;}
	
	+ *:not(.date) { margin-top: 3.5em; }
}

h2 {
	font-size: 1.2rem;
	
	+ * { margin-top: 0; }
}


// This is for browsers that can handle CSS Grid
@supports (display: grid) {

	body when (@enable_grid = true) {
		// Remove the safety padding
		padding-right: 0;
		padding-left: 0;
	}
	
}

/* Set colors for links in light mode */
@media (prefers-color-scheme: light) {
	a:not([class]):link { color: #c22; }
	a:not([class]):visited { color: #c22; }
	a:not([class]):active { color: #c22; }
}

/* Set colors for links in dark mode */
@media (prefers-color-scheme: dark) {
	a:not([class]):link { color: #f84; }
	a:not([class]):visited { color: #f84; }
	a:not([class]):active { color: #f84; }
}

@import "article";
@import "navbar";
