body {
	font-size: 1em;
	font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
	
	padding-right: 1em;
	padding-left: 1em;
	
	background: @bg_color_light;
	background: var(--bgcolor);

	color: @text_color_light;
	color: var(--fgcolor);
}

a {
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

/* Set colors for links in light mode */
@media (prefers-color-scheme: light) {
	a:not([class]):link,
	a:not([class]):visited,
	a:not([class]):active { color: var(--link-color-light); }
}

/* Set colors for links in dark mode */
@media (prefers-color-scheme: dark) {
	a:not([class]):link,
	a:not([class]):visited,
	a:not([class]):active { color: var(--link-color-dark); }
}
