@import "webfont-chicago";
@import "webfont-puritan";

@sansStack: Avenir Next, Avenir, Lucida Grande, Helvetica, sans-serif;

.bodyFont() {
	font-family: Puritan, @sansStack;
}

.headerFont() {
	font-family: Chicago, @sansStack;
	letter-spacing: -0.05em;
}
